.container {
  width: 200px;
  margin-top: 195px;
  width: 200px;
  background-image: linear-gradient(to bottom, #0000FF , #00FF00);
  border-style: solid;
}

.row {
  padding-bottom: 10px;
}

.current-text-box {
  background-color: black;
  width: 200px;
  height: 56px;
  text-align: right;
  margin: 0px;
  padding: 0px;
  position: absolute;
  color: white;
  right: 20px;
  top: 139px;
  left: 860px;
}

.previous-text-box {
  background-color: gray;
  width: 200px;
  text-align: right;
  height: 25px;
  margin: 0px;
  padding: 0px;
  position: absolute;
  color: white;
  right: 20px;
  top: 114px;
  left: 860px;
}

.previous-text {
  font-size: 23px;
}

.current-text {
  font-size: 50px;
}
